cubeserver.key
ha.key*
secrets.yaml
known_devices.yaml
home-assistant.*
home-assistant_v2.db
.storage/
image/
zigbee2mqtt/
zigbee2mqtt_lan/
www/
tts/
custom_components/*
!custom_components/smartir/
custom_components/smartir/*
!custom_components/smartir/codes/
includes/sensors/devices.yaml
